* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(rgb(139, 195, 245), #1294B8);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
    margin-bottom: 10%;
}

thead, tbody,td,th{
    border-width: 1px;
}

table{
    margin-top: 10%;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav{
    height: 50px;
    line-height: 35px;
    border: 1px solid white;
    background-color: white;
}

input[type=submit] {
    margin-left: 20px;
}
